body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    background-color: rgb(231, 255, 230);
}

table {
    margin: 30px auto;
}

button {
    border-color: rgb(199, 250, 208);
    height: 30px;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(164, 164, 164);
    border-radius: 10%;
}

.rev-cell {
    background-color: rgb(208, 208, 208);
}

.control {
    margin: 10px auto;
    text-align: center;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center; /* vertically aligned */
    gap: 10px;

}

.control-element {
    margin: 7px;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  rgb(160, 230, 158);
}

.hints {
    display: flex;
    margin: 10px auto;
    width: 150px;
    font-size: 18px;
}

.medium {
    background-color: rgb(112, 169, 110);
}

.expert {
    background-color: rgb(68, 129, 66);
    /* rgb(41, 162, 87); */
}

